body {
  background-color: darkturquoise;
}

.container {
  margin: 0 15%;
  margin-top: 50px;
  padding-top: 20px;
  background-color: aliceblue
}

h1 {
  font-family: Bebas Neue;
  font-size: 38px;
  text-align: center;
  letter-spacing: 1px;
}

h2 {
  font-family: Bebas Neue;
  font-size: 30px;
  text-align: center;
  letter-spacing: 1px;
}

#currentUser {
  font-family: Helvetica;
  font-size: 12px;
  text-align: center;
  width: 40%;
  margin: 0 auto;
}

h4 {
  font-family: Helvetica;
  font-size: 12px;
  text-align: center;
}

#fb-root {
  margin-left: 47%;
  width: 6%;
}

p {
  font-family: Helvetica;
  font-size: 18px;
  text-align: center;
}

#FormBox {
  padding: 10px;
}

h3 {
  font-family: Helvetica;
  font-size: 18px;
  width: 20%;
  line-height: 24px;
  margin-left: 30%;
}

.formInput {
  width: 40%;
  padding: 4px;
  margin-left: 30%;
}

.submitBtn {
  margin-left: 49%;
  padding: 6px;
  font-family: Helvetica;
  font-size: 12px;
  font-weight: bold;
  background-color: lightgray;
}

#formLinkInfo {
  width: 80%;
  margin: 0 auto;
  padding: 5px;
}

.picView {
  width: 200px;
  height: 200px;
  float: left;
}

#formLinkImage {
  max-height: 100%;
  max-width: 100%;
}

ul {
  list-style-type: none;
  margin: 0 auto;
}

li {
  border: 1px solid black;
  margin: 0 auto;
  margin-bottom: 15px;
}

#infoView {
  width: 50%;
  margin: 0 auto;
  background-color: aliceblue;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: gray;
}

a:visited {
  color: black;
}

hr {
  width: 40%;
}