<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">

    <title>Parse Todo Application</title>

    <!--Links to CSS Stylesheets-->
    <link rel="stylesheet" href="css/main.css" media="all" type="text/css">

    <!--Links to Javascript files-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.1/backbone-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.marionette/2.4.2/backbone.marionette.min.js"></script>
    <script type="text/javascript" src="http://www.parsecdn.com/js/parse-1.5.0.min.js"></script>
    <script src="//connect.facebook.net/en_US/all.js"></script>

  </head>
  <body>

    <div class="title">
      <h1>Parse Todo Application</h1>
    </div>

    <div class="container">
      <div class="todoapp">

        <div class="content">
        </div>
      </div>

      <!--This is the template for the login and signup-->
      <!--
      <script type="text/template" id="login-template">
      <header id="header"></header>
      <div class="login">
      <form class="login-form">
      <h2>Log In</h2>
      <input type="text" id="login-username" placeholder="Username" />
      <input type="password" id="login-password" placeholder="Password" />
      <br><br>
      <button id="userBtns">Log In</button>
      </form>

      <br>

      <form class="signup-form">
      <h2>Sign Up</h2>
      <input type="text" id="signup-username" placeholder="New Username" />
      <input type="password" id="signup-password" placeholder="New Password" />
      <br><br>
      <button id="userBtns">Sign Up</button>
      <br><br>
      </form>
      </div>
      </script>
      -->

      <!--This is the template for managing all the todos-->
      <script type="text/template" id="manage-todos-template">
      <div id="user-info">
        Signed in as <%= Parse.User.current().escape("username") %> (<a href="#" class="log-out">Log Out</a>)
        </div>
      <br>

      <div class="section">
        <header id="header">
          <input id="new-todo" placeholder="What needs to be done?" type="text" />
        </header>

        <div id="main">
          <input id="toggle-all" type="checkbox">
          <label for="toggle-all"><p>Mark all as completed</p></label>

          <ul id="todo-list">
            <img src="images/spinner.gif" class="spinner" />
        </ul>
        </div>

        <div id="todo-stats"></div>
        </div>
      </script>

      <!--This is the template for a single todo item-->
      <script type="text/template" id="item-template">
      <li class="<%= done ? 'completed' : ' ' %>">
        <div class="view">
          <input class="toggle" type="checkbox" <%= done ? 'checked="checked"' : ' ' %>>
          <label class="todo-content"><%= _.escape(content) %></label>
          <button class="todo-destroy"></button>
        </div>
        <input class="edit" value="<%= _.escape(content) %>">
        </li>
      </script>

      <!--This is the template for displaying the stats-->
      <script type="text/template" id="stats-template">
      <br>
      <footer id="footer">
        <span id="todo-count"><b><%= remaining %></b> <%= remaining == 1 ? 'item' : 'items' %> left</span>
        <ul id="filters">
          <li> <a href="javascript:void(0)" id="all" class="selected">All</a> </li>
          <li> <a href="javascript:void(0)" id="active">Active</a> </li>
          <li> <a href="javascript:void(0)" id="completed">Completed</a> </li>
        </ul>
        <button id="clear-completed">Clear Completed (<%= done %>)</button>
        </footer>
      </script>

    </div>

    <!--Links to the Javascript files stored locally-->
    <script src="js/lib/jquery-2.1.4.min.js"></script>
    <script src="js/lib/underscore.js"></script>
    <script src="js/lib/backbone.js"></script>
    <script src="js/todos.js"></script>

  </body>
</html>