<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">

    <title>Parse Todo Application</title>

    <!--Links to CSS Stylesheets-->
    <link rel="stylesheet" href="css/main.css" media="all" type="text/css">

    <!--Links to Javascript files-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.1/backbone-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.marionette/2.4.2/backbone.marionette.min.js"></script>
    <script type="text/javascript" src="http://www.parsecdn.com/js/parse-1.5.0.min.js"></script>
    <script src="//connect.facebook.net/en_US/all.js"></script>

  </head>
  <body>
    <div class="title">
      <h1>Parse Todo Application</h1>
    </div>

    <div class="container">
      <div class="todoapp">

        <div class="content">

        </div>
      </div>

      <div id="fb-root"></div>
      <script type="text/javascript">
        Parse.initialize("jRUEinSI1QYVOLrPPCkUpAiKAe8wQ6PvrveXhr2l", "97mBYxGauI7CApIOv94ZipLmTkhm73qYkmbZrPge");

        //Simple syntax to create a new subclass of Parse.Object.
        var ImageUpload = Parse.Object.extend("ImageUpload");

        //Create a new instance of that class.
        var imageUpload = new ImageUpload();

        var newTodoInputField = document.getElementById("new-todo");

        var base64 = "V29ya2luZyBhdCBQYXJzZSBpcyBncmVhdCE=";
        var file = document.getElementById("imageFile");
        var name = document.getElementById("new-todo");
        $('#imageUpload').bind("change", function (e) {
          var files = e.target.files || e.dataTransfer.files;
          // Our file var now holds the selected file
          file = files[0];
          name = file.name;
        });

        //--------------------------------------------------------------------------------
        //This function submits the values from our three inputs: Username & Score & Image
        //--------------------------------------------------------------------------------
        function submitValues() {
          //imageUpload.set("userName", newTodoInputField.value);

          imageUpload.save(null, {
            success: function(imageUpload) {
              //Execute any logic that should take place after the object is saved
              alert('New object created');
            },

            error: function(imageUpload, error) {
              //Execute any logic that should take place if the save fails
              //Error is a Parse.Error with an error code and message
              alert('Failed to create a new object, with error code: ' + error.message);
            }
          });

          //-------------------------------------------------------
          //Below is all the code for uploading the images to Parse
          //-------------------------------------------------------
          if (file != null) {
            var serverUrl = 'https://api.parse.com/1/files/' + file.name;

            $.ajax({
              type: "POST",
              beforeSend: function (request) {
                request.setRequestHeader("X-Parse-Application-Id", 'jRUEinSI1QYVOLrPPCkUpAiKAe8wQ6PvrveXhr2l');
                request.setRequestHeader("X-Parse-REST-API-Key", '3FrL7m8osb7VyAr8CQFaUQ7DRjoOrtBx9XlPtmYm');
                request.setRequestHeader("Content-Type", file.png);
              },
              url: serverUrl,
              data: file,
              processData: false,
              contentType: false,
              success: function (data) {
                var myimage = new Parse.Object("imageTable"); //create new object
                myimage.set({base64: base64}); //set the url that will be used to retrieve the image
                myimage.set({imagefile: {"name": data.name,"url": base64,"__type": "File"}}); //save it's name and url in a json object for good measure
                myimage.save(); //save and push the changes
                imageFile.value = "";        
                newTodoInputField.value="";

                console.log("Your image was saved!");
                alert("Your image has been saved!");
              },

              error: function (data) {
                var obj = jQuery.parseJSON(data);
                alert(obj.error);
              }
            });
          }

        }

      </script>

      <!--This is the template for managing all the todos-->
      <script type="text/template" id="manage-todos-template">
      <div id="user-info">
        Signed in as <%= Parse.User.current().escape("username") %> (<a href="#" class="log-out">Log Out</a>)
        </div>

      <br>

      <div class="section">
        <header id="header">
          <input id="new-todo" placeholder="What needs to be done?" type="text" />
        </header>

        <br>
        <form id="fileUpload" class="fileUpload" enctype="multipart/form-data" method="post">
          <input type="file" class="imageFile" id="imageFile" accept="image/*">
        </form>

        <br>
        <input type="button" onclick="submitValues()" class="submitBtn" value="Submit" id="submit"/>
        <br>

        <div id="main">
          <input id="toggle-all" type="checkbox">
          <label for="toggle-all"><p>Mark all as completed</p></label>

        <ul id="todo-list">
          <img src="images/spinner.gif" class="spinner" />
        </ul>
        </div>

        <div id="todo-stats"></div>
        </div>
      </script>

      <!--This is the template for a single todo item-->
      <script type="text/template" id="item-template">
      <li class="<%= done ? 'completed' : ' ' %>">
        <div class="view">
          <input class="toggle" type="checkbox" <%= done ? 'checked="checked"' : ' ' %>>
          <label class="todo-content"><a href="http://www.google.com"><%= _.escape(content) %></a></label>
          <button class="todo-destroy"></button>
        </div>
        <input class="edit" value="<%= _.escape(content) %>">
        </li>
      </script>

      <!--This is the template for displaying the stats-->
      <script type="text/template" id="stats-template">
      <br>
      <footer id="footer">
        <span id="todo-count"><b><%= remaining %></b> <%= remaining == 1 ? 'item' : 'items' %> left</span>
        <ul id="filters">
          <li> <a href="javascript:void(0)" id="all" class="selected">All</a> </li>
          <li> <a href="javascript:void(0)" id="active">Active</a> </li>
          <li> <a href="javascript:void(0)" id="completed">Completed</a> </li>
        </ul>
        <button id="clear-completed">Clear Completed (<%= done %>)</button>
        </footer>
      </script>

    </div>

    <!--Links to the Javascript files stored locally-->
    <script src="js/lib/jquery-2.1.4.min.js"></script>
    <script src="js/lib/underscore.js"></script>
    <script src="js/lib/backbone.js"></script>
    <script src="js/todos.js"></script>

  </body>
</html>